
.button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: rgb(11, 135, 218); 
    color: white !important; 
    text-decoration: none !important;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
}
.media-button {
    display: inline-block; 
    padding: 10px 20px; 
    background-color: rgb(11, 135, 218); 
    color: white !important; 
    text-decoration: none !important;
    border-radius: 5px;
    box-shadow: 0 0 2px black;
    cursor: pointer;
    width: 150px;
    height: 100%;
}

.button:hover, .media-button:hover {
    background-color: rgb(5, 111, 182); 
    box-shadow: 0 0 5px black;
   
}

.img-border {
    float: right; 
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black; 
    margin: 2rem
}

.media-container {
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
}